@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

body {
    background: #5ca579;
}

#banner {
    position: relative;
    display: block;
    min-height: 100vh;
    overflow: hidden;
    z-index: 1000;
}

#banner .layer {
    display: block;
    width: 100%;
    height: 68px;
}

.foreground {
    position: absolute;
    height: 75%;
    top: 0;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.foreground img {
    width: 100%;
    max-width: 1024px;
}

.layer_1 {
    background: #d7ffe7;
}

.layer_2 {
    background: #deffe9;
}

.layer_3 {
    background: #c2ffd8;
}

.layer_4 {
    background: #a6ffc8;
}

.layer_5 {
    background: #87f3b2
}

.layer_6 {
    background: #79d99f;
}

.layer_7 {
    background: #68ba88;
}

.headline {
    padding: 40px 20px;
    background:  #5ca579;
    z-index: 1000;
    display: block;
}

.headline h1 {
    font-family: 'Playfair Display', georgia, serif;
    font-size: 40px;
    color: #fff;
    font-style: italic;
    font-weight: 700;
    line-height: 1;
    z-index: 1000;
}

.headline h1 small {
    font-weight: 300;
}

.image-banner {
    -webkit-background-size: 100% !important;
    background-size: 100% !important;
    background-attachment: fixed !important;
}

.image-banner img {
    width: 100% !important;
    //visibility: hidden;
}

.image-banner img.fallback {
    position: absolute;
    top: 0;
}

.locations .location-block {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.location-block {
    width: 33%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    overflow: hidden;
}

@media screen and (max-width: 900px) {
    .location-block {
        width: 100%;
    }
    .location-block.set-2 {
        background: #4a8561;
    }
    .location-block.set-3 {
        background: #3a684c;
    }

    .location-block.set-2 .location-address h4 span {
        color: #24402f !important;
    }
    .location-block.set-3 .location-address h4 span {
        color: #192e22 !important;
    }
}

.location-block > h1 {
    color: #eab88f;
    font-family: 'Playfair Display', serif;
    font-size: 72px;
    width: 100%;
    text-align: center;
    font-style: italic;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.location-block > h1.white {
    color: #ffdaba;
    text-shadow: 0 4px 2px rgba(0, 0, 0, .2);
}

.location-content {
    width: 80%;
    display: block;
    background: #f2f2f2;
    margin: 20px auto 10px;
    padding: 20px;
    color: #5ca579 !important;
    position: relative;
    border-bottom: 5px solid #c1c1c1;
    border-top:5px solid #ffffff;
    text-align: center;
}

.location-content:after {
    content:" ";
    width:10px;
    height:200px;
    background:#eab88f;
    display: block;
    position: absolute;
    bottom:-200px;
    left: 0;
}

.location-content:before {
    content:" ";
    width:10px;
    height:15px;
    background: #bf9574;
    display: block;
    position: absolute;
    bottom:-15px;
    z-index: 1000;
    left: 0;
}

.location-content h1 {
    font-size: 24px;
    font-family: 'Playfair Display';
    font-weight: 300;
    font-style: italic;
    padding-top:20px;
}

.location-content p {
    font-family: 'Playfair Display';
    font-weight: 300;
    font-style: italic;
}

.location-content h2 {
    font-size: 48px;
    color: #5ca579;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-style: italic;
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 20px;
}

.location-content h2 span {
    color: #bd9574;
    font-style: 43px;
    white-space: nowrap;
}

.location-address {
    position: relative;
}

.location-address h4 {
    font-size: 30px;
    color: #fff;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-family: 'Playfair Display';
    line-height: 1;
}

.location-address h4 span {
    color: #3b694d;
}

.location-rsvp {
    width: 100%;
    padding: 15px;
    background: #bf9574;
    text-align: center !important;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.location-rsvp a {
    background: #5ca579;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #fff;
    padding: 20px;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.location-rsvp a.blink {
    background: #65b585;
}

.location-rsvp a:hover {
    background: #345e45;
}

.registry {
    position: relative;
    background: url(../img/registry.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 400px;
}

.registry img {
    width: 70%;
    margin: 0 auto;
    display: block;
}

.registry-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    align-items: center;
    justify-content: center;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.registry-content p {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 24px;
    max-width: 640px;
    padding: 20px;
    display: block;
    font-style: italic;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.registry-content a {
    background: rgba(0, 0, 0, .4);
    display: block;
    width: intrinsic;
    margin: 0 auto;
    padding: 20px;
    display: block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.registry-content a:hover {
    background: rgba(0, 0, 0, .6);
}

.registry-content img {
    max-width: 200px;
}

footer {
    background: #bf9574;
    padding: 40px 20px;
    border-top:4px solid #508f69;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    align-items: center;
    justify-content: center;
}

footer p, footer a {
    color: #715845;
    font-size: 12;
    font-family: 'Playfair Display', georgia, serif;
    font-style: italic;
}

footer a {
    color: #ffe1cc;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}

/*COMMON*/
.text-center {
    text-align: center !important;
}

.clearfix {
    clear: both !important;
}